.cart-container {
padding: 20px;
margin-top: 20px;
background: url('../image/book-bg.jpg') no-repeat center center;
background-size: cover;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 8px;
color: #fff;
}

#cart {
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.cart-item-name {
    font-weight: bold;
    color: #000000;
}

.cart-item-price {
    color: #000000;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.quantity-btn:hover {
    background-color: #555;
}

.checkout-btn {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.checkout-btn:hover {
    background-color: #555;
    
}
.customer-email{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}